.page-enter-active {
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.page-leave-active {
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}